body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* #navbar, #subNavbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#subNavbar {
    display: none;
} */

#content {
    padding: 20px;
}

#progress-bar {
    background-color: #ddd;
    height: 20px;
    margin-top: 0px;
}

#progress {
    background-color: #4caf50;
    height: 100%;
    width: 0;
}


hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

    #navbar,
    #subNavbar {
        /* float: left; */
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 1px;
        list-style: none;
        background: #0bc961;
        /* border-bottom: 1px solid #999; */
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent wrapping to the next line */
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    #navbar li,
    #subNavbar li {
        float: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    
        list-style: none;
        min-width: 100px; /* Set a minimum width to prevent compression */
    }
    
    #navbar a,
    #subNavbar a {
        float: none;
        display: inline-block;
        padding: 6px 30px 6px 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 90%;
        color: #ffffff;
        background: #0bc961 url(../img/slant.gif) no-repeat top right;
    }
    
    #navbar .nav-1 a {
        padding-left: 20px;
    }
    
    #navbar a:hover,
    #subNavbar a:hover {
        color: #8f0303;
    }
    
    .logo{
        width: 40px;
        height: auto;
    }
    